.card-wrapper {
  background: #dfe6e9;
  border-radius: 1rem;
  margin: 20px;
  padding: 2rem;
}

.card-wrapper > .title {
  font-size: 2rem;
  color: #6c5ce7;
}

.card-wrapper > .text {
  font-size: 1rem;
  color: #636e72;
}